.education, .activities
{
	display: flex;
}

.education p, .activities p
{
	position: relative;
	bottom: 10px;
	left: 10px;
}

#name
{
	font-family: Caveat;
	font-size: 50px;
}

#name span
{
	font-family: Permanent Marker;
	font-size: 100px;
}

